<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Rezeptedatenbank</title>
    <link rel="stylesheet" href="/style.css" />
    <!--[if !IE]>-->
    <meta name="viewport" content="width=device-width">
    <!--<![endif]-->
  </head>
  <body>
    <div class="box-wrap">
      <div id="navi">
        <h1>
          <a href="/">Rezepte</a>
          </h1>
        <ul>
          <li><a href="/">README</a></li>
          <li><a href="/unsorted">unsorted</a></li>
          {% for post in site.posts %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div id="main">
        {{content}}
      </div>
    </div>

    <div id="footer">
      <a href="/feed.xml">rss</a> –
      <a href="http://github.com/badboy">badboy</a> –
      <a href="http://github.com/badboy/rezepte">fork me</a>
  </body>
</html>
